<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGA - Avaliações</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/avaliacao.css' %}">
</head>
<body>
    <header>
        <ul class="menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'avaliacao' %}">Avaliações</a></li>
            <li><a href="{% url 'relatorio' %}">Relatórios</a></li>
            <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
        </ul>
    </header>
    <main class="base">
        <h1>Avaliações</h1>
        <p>Verifique e altere as avaliações dos alunos</p>
        <table>
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Avaliação 1</th>
                    <th>Avaliação 2</th>
                    <th>Avaliação 3</th>
                </tr>
                <tbody>
                    {% for aluno in alunos %}
                        <tr>
                            <td>{{ aluno.nome }}</td>
                            <!-- <td>{{ aluno.notas }}</td> -->
                            {% for nota in aluno.notas %}
                                <td>{{ nota }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Avaliação</h2>
            <form id="edit-form">
                <label>Aluno: <input type="text" id="edit-aluno" disabled></label>
                <label>Avaliação 1: <input type="text" id="edit-av1"></label>
                <label>Avaliação 2: <input type="text" id="edit-av2"></label>
                <label>Avaliação 3: <input type="text" id="edit-av3"></label>
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>
    <script src="{% static 'scripts/avaliacao.js' %}"></script>
</body>
</html>